/* css reset */
* {
    margin: 0;
    padding: 0;

}

html {
    scroll-behavior: smooth;
}

.main {
    background: url(../bg1.jpg) no-repeat center center/cover;
    
}

/* navigation bar  */
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#navbar ul {
    display: flex;
}

#navbar ul li a {
    padding: 3px 22px;
    text-decoration: none;
    color: white;
}

#navbar ul li {
    list-style: none;
    font-size: 2rem;
}

#navbar ul li a:hover,
#navbar ul li a.active {
    text-decoration: underline;
    color: #fbff00;
}

/* logo and img  */

#logo img {
    height: 78px;
    margin: 6px 19px;
}


/* home section  */
#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 521px;
    justify-content: center;
    align-items: center;
}

#home h1 {
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#home p {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}

body hr {
    height: 0.5rem;
    background-color: #3c3b3b;
    border: none;
    outline: none;
}

/* service section  */
#services {
    margin: 34px;
    display: flex;

}

#services .box {
    border: 2px solid brown;
    margin: 6px;
    padding: 16px;
    border-radius: 18px;
    background-color: #e9e6e6;
}

#services .box img {
    width: 170px;
    display: block;
    margin: auto;
}

#services .box p {
    font-family: 'Bree Serif', serif;
}

/* clients section  */

#client-section{
    background: url('../bg.jpg') no-repeat center center/cover;
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

#clients img {
    height: 170px;
}

.client-item {
    padding: 34px;
}


/* contact section */
#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.6rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 64px;
}

#contact-box form {
    width: 40%;
}

#contact-box label {
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
}

#contact{
   
    background: url('../contact.jpg') no-repeat center center/cover;

}

footer {
    background-color: black;
    color: white;
    padding: 9px 20px;

}

/* utility classes  */
.h-primary {
    font-size: 2.89rem;
    padding: 10px;
    font-family: 'Bree Serif', serif;
}

.h-secondary {
    font-size: 1.8rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}

.btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.center {
    text-align: center;
}
